apiVersion: v1
kind: Namespace
metadata:
  labels:
    certmanager.k8s.io/disable-validation: "true"
  name: ${namespace}
---
apiVersion: v1
data:
  manifest_crds.yaml.gz.b64enc: |
    H4sIAAAAAAAAA+19a3fbRpLod/0KHM0HOl6RsuPMnIx3c2cVWpnRxJF5RTq5986Z4wMSLRErEODg
    IZnes//9VlU/0I3uBkBaiu0E+GILbPSjut5VXR1u459ZXsRZ+jIItzF7X7IU/yomt98Wkzg7vXu+
    ZGX4/Og2TqOXwbQqymxzxYqsylfsFbuO07iE5kcbaBSFZfjyKAjCNM3KEF8X+GcQrFmymRTr03WW
    3b4MVnk0jtOiDJMEfk3CJUtEu3C7fRlEYbFeZmEe0avVOsxL7eX42eT55Nm7TViULOctsrTMsyRh
    +bjMskRO/GVwDA2PqYn6erLNWVHAkMVklW1O7+TKn02gWzHVPC7DG/YyWMTYJ73MWcLCgunTwNZp
    uIF34WqVVWm5BPjE6U0x8Qx2VGzZCpd5k2eVvsxGM96tAAgH+hkf4Xs+Av2wTao8TKzB4bdilW1h
    VpfYyTZcMQTjXZjEEW0I7xZapGezi59fzFdrtgn5S+g0hx/yMpaj8y1R+KHeAUBZscrjLfUYjLAr
    3gZ+AIxgRVCuWSCgyyKYEw4TZNfwPi4AnLhklnIc0boNsEmYBtnyv9iqnARzlmMnQbHOqiTCnYY/
    S/h+ld2k8QfVM4yX0ZBJWLKiNHqMU0CUNEwQCBU7ge6jYBPuoBMcI6hSrTdqUkyCn7KcwYfXgETr
    stwWL09Pb+JSUgTs0qYCtN+dEurFy6rM8uI0YncsOQV4jWmeKeH/ZBP9IRfUUoy0iZU73KUCPhc7
    qrbbC+Yf4dcAwBeKz/h0a2jiKwTC1fl8EchBCeImiAm49WdFDWeECyyb5XyfrvNsQz2yNNpmAEj6
    Y5XE8JXRZVEtN3GJG/svgF+J2zEJpsQGgiULqi0gH4smwUUKbzcsmQIxPTSUEaDFGCHYDWedWZkN
    OXDUa0mz8nFRCD5VwfKLyHzX2L4FgK4CPARsBEx7AxR48SqYZmmKmwEANMZtmXtAUI6hE324sZiC
    f0GK1909D5PtGjj6eDw+Cj81+1/ljJouYuBXZbgBzphWlmB4SB7PufYKt/E6XoW4HxxrJ/huE6bA
    /XMxgGLaYRTRQsNklhNHmWZJteELHAd/n7+5nIXl+mUwgTWUFY6c8g+Kf/zlyX9OcC++++74ioXR
    7virf4pWNG8+HfrlyLHpZucwm0lcFBXLr9j1BD/V+rigH7h4yOMM5NjuZfC8u9NeM4bdKQAw2nDz
    eg37DCcxZWLt/JFFM9NmE87+SvWnxfsK4mTUIrhfMylciJ0JxncP4oLGJo5UYpfIp26qMA9hZ4E4
    QZgssSv4LQ3WoJQATYyX7Br5VZZHAsaAFKs8K0A6sS18WjIUqznHe+B+xCU5S8XusTeaBTFtObCa
    P5OUCyNe/TB98eLFnwMYb0PiChrC67eL6UQD/5nYDA5rZLC1buFAZIdaMa1J4IqTgKFaOCiEfgdh
    nJeXdWdjgKb6z6CBDBrIoIF8Ag1kVeSt6sf3O2BQRRLDfuBqQhDcYrNm5z8BeFdZBOinsYR5fINN
    dM5QP8iaQjDLlruS9VNaYDpVrjEAzzTFcDAVjf0gTYdVUgavRBd9h4yL6VnrcBfQILgHQw8QL78l
    cABKwlAIHH0GYcFZGK48KDhoJo2eA9DxkFVvtoCfyIBCjq4j0X4EOhqwZCQgkAbONSxBuWFh2liE
    kPcdKxGtOH3mDGgIdpVJvsR7oekTZdnMfxIEF9fWkmgBiNOj4DpmSSTFJazgJEBYoFzLghEff4Tc
    TcxFMQCrz/u4XFPHNzHQDwkmFHAkv/H/qZQcCHZ865FUZp+wiUjpBZI5rMQ5cznbaVKh/6CedGC8
    8c8YyO8uRkqhSZuDooY/wvdqwJTDGnSV9ENodRoXSpUPAFVAH+aaDe+JRLnoiHZTiRgQdvxXq8fs
    Wt/r+3W8Wkvaoa9HtmIwCuLrgG225a6Jzj5Ogw/XM6zXLaSIT1O49PqItJ39PnIZSPiMA6UxN/vJ
    mvaX28hStNjJtkk57sW4wwfg2warqso1aeM+9EB2ZH7T3PpD2LvW3QELCo3l2DO01lKzaaUjcG6i
    g0IwXqkVPMgylZnUXGVcso2DVNrICI3colyA3VHE0s5xtWqA8LX1EfISBEFtGa2yHEC0zWqXof0o
    lbUoBcKiuzUFESX1ZLVaW9bpAETlaoxjO1u1kjeqQmRZ9lj3T7wll3DrChgZ7CyoUcuE6Q0lnkeg
    Y8VJ4Vm8aESLLxUwT2DJIL/ZRmiz0H/hW33HuvinPZZ1RQ35qpZ5DCJ8E67WYMTUq2PvtwmwbVod
    AN23n2tW79ioaK7toFXYjMyzCu4OkGBV0wAlISV8ejJa5BUDWTv6IUwK+I9nEaO36W2a3aejr9zz
    ZWm1cU9nHBzjEMe+H2lc369i1ENARD93A2gBzRzgWVVAqGmZ7ABC5G3xLbx1Fj6Rh0vDDx2vNR+U
    PYwlD+ufwjwPddnS6WesUShcrdgWlPvLpivi+NhwPdCfGqcN/vFP9CuA+cUiYefzl4MLk0u6L8V3
    WTAAFjmPtO/n9LJfB4Pzc3B+PrTz02A9OlHRDw53JzTR/ju4PAeX5+Dy/AQuz3BlW0vG5p1NfzqX
    RibZMtfxjfAg0iBI54jE1G6qS1NLK7oEdWCZ7E6UWcT7FCYG6LjBOrvnVke2gZ84wwmSmHyZWWpj
    BD7amDXuCLpbouMwS+5YBDpzPIGt2wAzRnT722Ixe/acaOrV5fzZc5fJiU4q7jGCJnwy+/h3OKxc
    Sq3Hyu3qUOwOwcb7c2P7XvHW0rZFWCKrEp1I/yr8OkcwgVaDc/Z2TdlF3DGbuRXsjuXxp8MW0Bs1
    FeX68Wvr+IzlElvMAKd+3j603yu2ckHOOw7yiCy9dLjlTPVFNePsk3/G/aZcx0CvKScNw8Nrb87F
    NWgRjQ7J2YPkyHgH13EO6AGsKUduilhPwhib4jhWn9KzrDrlXldtEEGH6/COwfQTlt6Ua8S/P31D
    SWnhCkScvUVZHlyze2TmWRDeZXEU3LCUNCOg3DjlQYTp/Kr4d5wmKVTYlEZJsvTG4XzWOcqJ0KWM
    mT7BQWn9atkEiK9kz1aXxhrUnLmcJpCCzcCJjqakT0HwlEsXS/HHftJCU6E8GKPvWajIXaTGBGFS
    CqZqYU8bX518DPZYHQtssrGHazhgWh6KL01QehhRC/vxUX6vuNv0IaJt27MoQsO1Y58vZqqdudUX
    M8Q78cteu/xowNs/gmjG1tyBQwoU2sj1RQQOW8IG3rDbpwwY0uZYPaqg3RcdKNxDo/vtR+xgtmx3
    ltygM2ZtuYgNnP9RayjVy20e3yG6QCcAYfmj8te2RVP0T510glgmEeIE9y+7V4YvMB0b4RkMDgRx
    nBfhMRLNMVtF+F/opzl3YcggaoAIgl/nYFUHDvaCRFhPAudaYEtY4dd//JOBobQIOaQBD1uNgjGN
    rp59862jr9zqqYm7Lrf+OIDvrHc0r74yCcY8x6AivO/CCNnOhRCrfLcts5s83K53RKVRmEdF8GT2
    43T+lQUUFw6MCqNDLt1kvDNOTRSxwWyhTHC8vV0Vz49pB+j/3x7zmVFMFGaAc/sDNxPpv9/a3SJO
    AxEBU012E4FcOhiIb0v8EuqS6FbssdUl7flyJ5WI3hriLUfcrk0SyE0bhHBcxqXCPYtQJcRtttaP
    ULmrh7Q62KwlK+8ZAABR3EkH3z7/89ewlSsQEABR8sBa1EqZFkjRtYwh4nBseRo1JiADaUCuJ8GL
    b785Cf749fOv3OPYegKFewVR+wLhcVr+6RvnjqFDr2mbZPlNmMYfupXLN1pDuXn6x+324KPpdqDm
    sPvvybPdWzembwLhDmfvt7FwJ0V76sp1IKR16LlqJuFG6oRM5KBfNa9jxmNkNnBIueCt455zdCfA
    NAI48vVj5MUMiRb1MyRaDIkWQ6LF7zzRgjOxH4DUqpy5OFgXl/AuDPS8s2swajsPsGkSj6LMEsp6
    zh1laSjzvI7tGwOCACE1UYQmhQCLeVxGSxPwaSp7LnHIUflUOSprGJ+BpHvQDBX8p5mNoScEtCSQ
    CE+09jEPM3V/zYfmwkb7/Kp+MWSCfJGZIBJFDfKuEfdoSO8Y0juG9I4uOD98ekdVrj+8vXrdnuIh
    Gkm7DP8rj8lgVscZPwwh/AzeAEOdS6DonmMFsDQMTfV2Y7kTJ0yc44kKyrHGJ06pHnkjSaX2UclZ
    2RrrmxQ02qdPgSc8fYqkPhrxPkYjdDONeA5JDn8hIiI/r/15xFTtI1/LrFyTi7F2LZPnL82A1dO8
    pIMX9g25s+a2MXip/kjQT4JX57Or8+nZ4vzVSx56qafIoyF1Akw9AdRkQGcfOffBoUMLMd8n3ixR
    J44Q82G03IcOsNaTgE0cB//Y+xCNWdSEeqPKvuE5FZkjvCSigZ2XCAMwQoQf43CBLzhFB8Jq8JLD
    DaiFqwEidqkwTYbGRHAuyhzxcGRG7H1clCc4I5hagQxTogfo8GBlR82ehKYBMmmEU27uaSDaUWSQ
    5TlgsdZhlaci1GHgm2qCUVh3usc1GE4wmcZPQ8xs1+VzlwTC0+kUxE0nuofw/Q5Qovl256diiaVI
    +FLZdfg1HdE12CWRLUdvm6nV6E5DN8m75k8WQxX81OoS2atgXV7m2s1MbSrtZK71ZPdA5oIlsPeZ
    BXIb7KKh+IJ0I0b5GSpBp9NJzx9NX1IbQ1CitEbYD65dGfvAAepyzHSlF/pyjJyLfC1STtSSapYv
    JLEexPT0GChsIhZnRmJDwIkS2C3JjSpFjFBTVJvh7ZhGL8NbDEMyMDgoIyPDeVEv/y9LtV5o9A0e
    hwQZ5O2Sr6sQ01KJCpRAoSYmFHpNI8GG/vVDu00GoKROcTu5OwENNXr1mv8pgclnbHPh+sFsLRH9
    XgPT3qA+Sz1h7ps2LW4URQEL8wRFthXWMCdJKUZ9Z9GRBNojBbQrAVRu4b64yvf9Y3F1IXdNJUFj
    kvAH9B9z5KgxGfbBj1F+JM1oA81eKXkxQ25Ck/bjKQ2+Q2QqdsVEU62sDRSDpUz7yNuv3hGXW0qc
    3N/fTxpjPQhN8e0aaCr4NWhKg00vsjrjcFVclJOVzPAEaskJHMKf5sq15g9Qppnn4bIedELFPPRd
    SxZ6rwzvlriB46cyu2XtMfoFtvBoevR1D2PUu4muwI0dspGhVRG+aU7CiBTUnhY7vIUWWnAM5Pfs
    OU+eQk8I/L/vbKs8aZ1sw90gYiD8EImloimwWdOswcjrxqzA3NG01CTLbqutOmESLrOK+4oKGf9z
    eDEO2h1AymgV5u3lC38RjRTBl3nFUMF1msnA5WWv1ixrO/uEmgqmG4ye6vzXbenbaa7uNAXpOzJe
    NsJzY9xo4289NqA+Qtw33oDdY/ztWOijJEQoF3nrPs1kK40zU5pRvV9M2y6RUOYKdTc2Fm2YOoQ6
    UrMZCfR9ig4CNOyfUiLzzpmyDbwWuOWarW4RUbYh+QuEyaXSnsWcKJF+iRlXI+4LxcGsHqUkB6YK
    cMtjdGTUk94wzLOIi03whI5QYUs6MxUs/s+CfN4OBEUZSeOqNVLiMn4rjl6ZZqdqX/tirMiyP0u7
    9pt07Ktyr2giCkgpKynEQ9K9KXS8prAYFDWoHPdM7CH3vxHiZLglDeyheC2mpcMORlWCmek2V8s2
    W9B60pJiO66urjE7QPVVx1lGWvjRkQ6H8ekG8iLgcxbibIDhgLAOE6InRtsVk+lclcL95ODAzWxv
    mtlJY5B6Unw16LoinTdMbT2EVCtu1/fHAHf+iitzRblCGjk56PDHuDjl5IA6u951eGN5KI0Wykma
    w623yKDW7c4b2gfDdyOHGtHXI5U8oHscnR5GOjogRR+zviOC4Fkl/bKKj5uqwJhH86y3uapsoL/d
    Mleu11ijZOsncfDLek/5FJbNNuZuT+v9Xpl6ztmMg2agVS20MFxRDlnVHGasQj7qBVph9R8y7WXI
    tvjVsi342RSufLRmXOwXIbeOvKgouTHgkYqUiy+OhjD5ECbXQTyEyX+VKghtrnLA2diyb60dP8dW
    0sqlT2r7X9w54XVNeLw44jAGHuKg9D5H5NOaxkx908x/D2U+e6Mqou/IBz5GxArr5culHBJucATO
    nEtYiJMqZs4+OmPJ70SYDggpznjYh//kw0+Ris+hw3bvUYsnzRdqtGY+utTOGojoc+mkndtqCYyO
    YeUMIJ8oWxVIOSjZi1N00d7F7P70PsuBRG7G6Pwcc2QvTknWnP4hdZ62ls/izas3L4OzKBJ+Zdi6
    6yrh6juwkFpOnBAbOwmqOPqLbZr0gk9baQZnZLXu0+Ox47l4PcJulLKne+BEFp/px+i1juI23i5e
    zwEs8bUTTc0cg2uy707oM5Sdwv3enAj02FqTs83IoVlxb3k3KIRX3Tgc3vSlCj+r7xwaPmbA1/Qn
    FspzoNzsouqGi7A+qupJW+TVtfoHi7/y52GjsH0XTcvqiMg6Ft87LtvaZWPr+0VnO3q0Yre9YrQd
    nTojuL0itR0du2NOfWNLHZ1bMZ++EaYuEFvxp/3jTPzpLOODT69SPnVDf+RJzL4jpitaHRTZ3Q/b
    +8d3O/rF6O/+Ud4unK9jwPvEejt6dUSC9434doywB4Xqcd8uJBwotAU4D0uhPSLE/Dk0TtzJ7cu9
    o8UdXXbFkvnTEVHu2egRKo9xxdLhSbVMRacr1FWdzCqn354U5zuGjc/+R7EVI45vUqOioBOg5Dar
    j8Fx/5prJw/KAnUe1W6FHUbn5lR6v9mb95M7LPKwD8QxMtsJ65+p/hQ2RS/LynWyvmscGmu7vQJL
    pKeZjoUEDZcCat5nvAvSGefus4z95kJtQvfanRP6hYQvhTYNOFAviIIb9FxQanwr7f/sKsOhP72Y
    bA5AsC843Lubos3zI59+xkWrB0Y+B3piOnqlEGrY2yMjn97SrM1D41zZZ+Opkc+Demz2hF97cU3+
    eD055litErNrnDFRqvdHTlHenwuP4Os9QUpcafW04tPNAxGlOD/maWBm+ov+9KHbDpp9DHrdm1Z7
    4VkXjX6+9PngtNkDXt200kKPh+dDojr4fZVGbh3AvJYoLNifvqkvwjsLlvQh4puIYUo6EN7Q1kKI
    +FBWE2mEIu1qrvy53HyQxZznSDpltsoSkYeDB6k3rPSYY5i8cZNSlQW0arcJGrTYj+oGqRfvFcY0
    FF7/VJ68dsMYLGEwx4AlQTu9AD4lfUmdVkEBl0Ku4HoQR68tlyvVu+YLFXkUJYeSiMAkjUiEYfVS
    FMhi9/acH+KtJy1Yg4csY/pQqjxqgL1tJ1vo+LV3lobX8T7q+yrJKicVmwULsFXjgOvPNBbvoFmL
    nZUYQXZ63gUZido2i9kMc7t4/80zV4dE8YDbLfYXlGezC/MrERtX4qV2FviLCAU6WPiK8GY/krI+
    8TSIWN9KBhH7iCLWmRMvH19u/BIkKv2NQkpH89Y5HBiYNVO56/cWfe+rQJRb5wlgk4qAK9XMbpFj
    LH8GolgIg1kSllTExOB6bkEsOeHjcr02rcha3fSMN+Y8Tr+mUYsHk16QIaL7uV0mQsuaoFTZU7hE
    yp9LV41w3YnQTlpcE1lZ1Lm58giFPCKOTjZUtECjkzEAfTBvt7LqJs05pjRbGSrVqjvj4LWKpebc
    yvI1PUH6zPkgWjSWKzJjkZvXBwTmdWCeph1KGc2wi9UAIdEJjjAp+srLqfGJo9B42DA7Wy/XWNMO
    56ksu4/HCIBfR8b+cu2Ix8KETNq0iTExcFDeZyi8ipNgJAcZ0SgjOczoY4TzINPU88XLNE1968FR
    HkW8mbS4r2zDqG2ncMNYply+WO0sS+LVjv/CmX6dVhd7gxhBcAbMTuVpbsJI3TEg+t1KQVnX+0B4
    0UnfpdvrJOMwEQ9Bb2lmxmkWrXj+g4VWcKx+NtZHnvnaN7kTC0ResRu8dQomft4r1fO1/Y2Z+Al8
    L1uhhI9UiNq5FzwDGsAm++IpVyLH8sS476bMw9WtKILLccHjxNS7Ez25JhT4at50EF6VW+avBaC3
    VxcSIFUaA/qqiehHGXlxHTzECcSYOVejne7kpXHu6q7kOU+V+Dw9228tLfc1DYWU1TMUUh4KKQ+F
    lH/nhZR/99WA9VNo4Xb7sj5nRq/wurJSezl+Nnk+efZuExYyJPGQR9cozTAukaEGixj7POL4kQCX
    Yfo06oNucXoXo7HjGaR5zM3XzHHW7YJ6NvZWDHbkrgNbVEt1yop3JLAn+O//ORrOvw3n33QQD+ff
    Hvz8m/M8m124niwZIcs4QUf8CNiTWJSgxlUDtLl+zlK68smWNXQKHVfUvPbJK+zQRGebRWcFnqu6
    nVKO6Q91jRb3Eso0sCrfZoXDaUP3AfFBJVryBdfVtl1L1ZbWswzAo13w0rhHVjbT6IYmy1l1TW51
    h5SQ3PNGzUeydnjtdUNz0hRb3FCkcEpYd2s1AsYZcE1yuD2iPYOLfEuMoucCF8oM4YvU7S4qLC/Z
    zudgg501Da+NNMpgxit+Ma9RZanFVvlI06S3gbUghy8ZWdLT+NmaSQs6OvgDr53y1l2Ho9eM9rRK
    BPl3GPy/kg0ydnAKRyOrzob8QeDkx9s2dBgot1N1TY8WNnklpQz8zyEYD5IBtin1Wdg7n6oex0MX
    4nBU4LBKbwyXVIhnsD4G62OovlFPaqi+MVTfGKpveKA9VN8Yqm8M1TeG6htD9Y0v9Gz/UH1jqL4x
    VN/4nCl0qL4xVN8wn6H6hgmNofrGUH3D+QzVN4xnqL7R/gzVN4bqG85nOBr8yenzt3aMaqi+MVTf
    GKpvqNdD9Y2+a8FnqL4xiNhBxA7VN4bqG97VDdU3huob+jNU3/gI4TzINPV88TJtqL4xVN/oAvRQ
    fWOovqGeofrGUH1jqL5hTOhzPlY2VN8Yqm/8TqpvbHbFv5Ixsv2wFMQqSnCYv4yfTV5Mvua/f+IC
    HDSxJWgR1baY0B/aKFl+0zzf5mriOOD2Ezb7nro1Nlgf7shz1O3zPHr4m9lscdV3+26HESfBMJnl
    dP5umiXVhsNpHPx9/uZyhsGlYMJpfFLT7D/+8uQ/J8gagu++C46JsR1/9c+JxnQs17mYkc6Y+Hzp
    6yMHDzSnAHOe5GwLNkvoGQFExxITW6/xJ2SXQZpFzBxK+56Phuu+IbAaw0kMmliHUbXuzsQRYN5T
    xI8WHEBC9f3rDRqSu0i/FOssLzXeOuZtPATmKHSzCmsvJoJTQsMLYakfNBtybED1ZXepIGzW0flC
    yPtLq6REO45LR+fKYxRU+mk3/9+vX4kBbIRUQ/vY+nCCeTjBrEA8nGB+8BPMQiI4ggmNpALZTC/D
    0wgkIIyJ3mWvtmWi+Qbrw3AxwKtEw9VdechhXEi20TpnyXWahYPkxzyHnLuOpNOTpLPLWXnIxC3j
    y2V2jbUtMF5HOtNsgcevWHLJYOba4ca6YwtuQykms5ehFNNQiqnxfPGlmEy2MFRk2s/fNRgyD2bI
    YNLAoxkxbwuXRU1DDsbLYLwMxssnKL+UJNk9i/6WFdYxSFPxqNvJ0Kf4NFjjO0BjkRcmkm5rbd8S
    AIdr/1+qsSVzr1rnPJN5YAK+Vl4YMsrmkG0avyeT+oAM6rq+E+fITrWkPXW6VWnxpZV9fulkD5ZG
    dlDijn14zY9yLN/ERdFpqs7qdhLxZMkiPH8iDvhTtTEsvCAqJvgrcEib+0Es1pZFdCylYXZrHYHy
    EtLBY08Os6hpQeL5lMjcc/q9rQJEZ3Jge8WHwtBuWpbM1aDmaoXWAlTMXTMmBDxTxlIMsWetXcYO
    QamPuUMNm9Pln2MCYhwxcwGeubqW1bqAx9usNnuLL8NliLnRaqzj6cfbTbySbSv1o0buqgdB9K4X
    KJNuPcpYs6ZGjTDXoChM9lCzg0/g/msU4R0ridqpPP3K/kDahcEVqD2DK7BzsoMr8DfsCiSOMLgB
    v0A34KeqlE6p6a2F0vdNLcJ/+LbxEebq786kIH6KAuTxRB1w4X3o9dfzOMvjcvcyeN7dqUpvkTim
    8pTki32668gkap79MptwR1ad9215sUR9BZIheJWMQGESJ8KFhbJExknFnTLocbqpQrJNeI491aIr
    0eJag2oLaDxesms0dmmrRa/hKs8KLOqJNRdKFvDkN0L4YEr+Lu4cq0soxKKyX32ZjZi/MuZgxKsf
    pi9evPgzyTRyPMZk+r1dTCca+NuSrfrV43+jliJdwhyPjwZ38OAOHtzBXXB++FwWmGyWugoKNuwZ
    2Uwaj/xDbkMCGtcGoKj1/Or8Sp67tjSB6fyKziCbvZonkqmT6zgHBVHUVtbGcBaaVAep+QTrzifB
    WRlgHKyUqp42cIbVj2X1ZqtPeagaOKlh0NJ7XkyVA0M7CiSacDhYPWpwITj0M4MDcRa/dZNGU2qj
    He3HqtHbLc0JKQIr39ZHwIj3rLN7W1FbZwUzGlpFuOnGNEAoFBfYfaNWua2/nokFwNrLfMfhx96j
    3xHtAhYCIEWlWzR5qUpgXVMbOZ+2nVbnVHvg6VPY3KdPcXtHIz7YaITbOxqJ6rfwZ7MYAeeqsX0S
    dQm2KlUTqpEOixoCkoIENo7CCyjUmE8iTrGxCY8pWANwJKkPjm4yBdei2m6znENGVFZdmTvr9GWW
    ZoV1EBBRo+oTqWp4RJM8u0tGt97RwBPAy9nV+fRscf7KtiDKGvGbE4Ztuq7KKod1zvWpylI5tNGo
    LIPR6qJYVZgA2hIScYVRga+YNH3pB7k/RKn8HlbZK96y6RoXHWjVb/lyOcl5LG3hoPSWu/00Tkqx
    lIdwN66Kdm+jjo5YYpaf9yNRSyUdSMdUHBHvUXQTi8Q64u9EI6CsgWr4QWoOpETaHFpo1B5i4R81
    fmqpOOHdEd+9ASZiSW5m3BKBLDmtLw7QHKXpKqlcwjOkcmul9GNwblPryUgI6JbtFLBOkLQJ3D4C
    1uq0Q+D2ELDOefoFbpeA9dBc50FlG/mVzdu67ReyVR2Kxv3n7CrZKXYpTp+P6UCP52w4j4LUOCIP
    Z3PLkrOlN5wSLjh2CG4aZYy23+qRRPCJxBmEZc3g8cB31OxJoBGYOiOcrh3o5O1QrgYsz7Nc77DK
    U63QDcdc+fMmzG8Jt2xJGcaJ7YJt4/fcIvV55nw8tWnD9PrIF8g+KNrrKA7iYcqesEhhhj8UhnZa
    C/3jHzVH7835ieGBca+SDvSaTHr9Q9e5ax2pF7Yess22VUJxqvC6ZHnN15WKY/VYVBS3uq4SID8h
    R/TKDNoNQicKWes+9eCHPVtuzY+IH48Irpa+eoiEqVXrdqjXtwUZUka9nwNH5zcJaU1R8ngtHxkG
    1Ith8AP8Jsd5CC0Ny0Z+eHv1uk8wRDSVehr+VwCf9g9/z/L4A5eJUpv0qVqOKw0IfkLQHhQFcBts
    jqXYZltZ37FhatOyao1nHWr2k54mkcsi8umyZCcdaBd54c5qPNQsJs0W4eRUT1ePJ3t61VcjTQ93
    XaeOiktCretjNAiFSSBjbTp7UMszc4DXScAmoAV3XvPSgXxe3cQx+UM0FM8ChJLQR0+Z1rjKNYz2
    LqUGs7fG4um2qcfsobeomXu6tjQajwbDn+4ibF5thj89ypL5NJveHbRXgevsoL0sWktRtA4C9VaO
    NfBbu4zTdFOZ92uuWre1KwhN/KlPEFqx9bpavXB8YR+Iz91VN4OmsWheHNhgNzVf1YWCp2MUFUJS
    kKAQjNfrOHMIBD+z7+U+cwiEAwlnuMewpc1wj+Fwj6EC8Rd9S9pwj+Fwj+Fwj+HnTKHDPYaPeo8h
    1ovvk29I1yG5NWF+VZKtCz96/qOsqilyIZvT4kk3rc6bOh1E2M7HwAiePT9G9fUY0zPg/4eswltt
    2VdrGf8rHJy0DFuRbS0saYCduzqxOKum3SdZdlttzRzfFuwvtHzXj95TIIloFdoH2hwg+UU0VYwJ
    72rnVwo1PWyIcD79T45oFK2lZAEuOoLRU12KtHl4fPe7t0VJpS/S8ZMnndZV83os9UZXN0hzjveu
    C8vGChyOn1xufv4cENJFX0WVOxPojV3+oW7Hy0bW5XE11spdxsL/4Y7tagw9Tq9BcqOacxPmS0xt
    X2HKrLiiCKwHrGc4zq4th2xXJr4XuaX73+F0NldbtzMCr4JQtTVkSyrLr19uYC1Z8VkOHjypCHK5
    TsqQ/nVLlHvX4U7Id9XAzbY8JRikl8i9EEoJ5rMhFAnWxFrC4H5to2IdDYnV6UBRYdUd7/BOmlq3
    zpkykE1niTGUYm6NnBtr0tRREYxE7EfckMDeb5H8R+S/GBEuNNmIqxbuWBZT1V+5jslSknzUBCEe
    +nLVjB5rTk3rpzh1DyCWYL9HH6b13rsVDmFniTkH3hOHpwx6QqglVmDfljueouGSTEoSUiAPcw1U
    VvRChYTrXHk+gIzxuUMfIh4oRhRdqO4FSCX3aUQP1Wk0q1ceTYxLjuRygZil0A+kDs7blDZjlc2p
    XqANVf8hj2cM9X6/uNIqgHZ0vvwRCqvMeNfG7srhjoYs+iGLfsii74Lzg2fRp5LaWoWoLGchKFiR
    6EES5TM9DWdxbjx+TTzNWcDb/nV892zyR8F3PzUXV7MDpqD+31613dfMwch/kU0NVq6NSe/titP3
    Ww+b/zXKTWtNzWLTg4gZRIwC8SBiHr5u1zUxZyvhwUzluW6eoNpm0aggHI6qRGQXwFTBnC6bppTX
    WbTECyvhGysJxXT7Scb1vWyOyYZaVpt295vm8ZGCw3wUFzyRMXduzuWVdTa+LSTO0jvnaRB93ufp
    neIp0D7OsxSvJgLUz2NepwbdNQoGW19IBNc/wykH/7bFeMdPLL9hP7Ldd3REjr+bl3hm92b33QZ/
    dHTTEp3pigK0RGJgWT8AofUBBbbTwYF/AwLxjK4bVlJJFcqrw2JDhgRrPjXInOGtx1iq90PMNe44
    4Bixn/F4PGtg7Tq752G6mKJG2BHCAZ1mVeoKjxJkRIUJdFuJbPzG6caQ93RHQwIg01FJ4PX1GpZY
    fm8f3OdZPPNqOetzOb1IQhXNtfXfi1g0sGvh66vn7akdxdeOKa1RnFPojhKwkmzFeTTomXj/PPLw
    l6LlngXTuGoIVLrP8rT2fdfnDiJjq19m76ZvLhfnl4t3ry6u/Mu7347FVPdeIrnSXsXO9CWTbEVD
    ebdljNgWYOVGWmtctOYdtBIbSMvO4f8alzi4mb4MH6L8z/T7NgmyqyTDY2DuINQFd4JjB+v4Zo3H
    xBKUxqi0NZMg5KpP1EqdXaIyNkM1scBN4CQ+TcLYdTlxV3ZV245YYFG7ImhcAwQCpxUOPYLCHtFm
    T8MUb5pYs5m6t/xaoPYUp62xto+Rdfh0ZCP0iJ93ZSC0yD4XrFzyzwWo1qwDB6A+2fpVTncvCAAt
    YyI45mrT/J+IEDRemximAATc4JMANGX0jbem4QM5cYUe047A7uYH/1Dn5qGu9VetK2pNJ95mII5B
    rPRa05VqLiP1kjmJt3VlKs+trj3qYbVdhlwPtS/7XQvO1smDFbM3RICT732UPCD1pNeMfpItLVkr
    TO2GrPUl2wmFyBCrAVhn29N7tjytxeu+0nXrgk3nqtwQNYAuxOHHQBmjhpir3TmdK9FQg3HMo3QC
    qHXWsU+xlOONM+xHK8mplHs0uiis38bM2hItvGv1nMp3nsdHIpVVQImMEcDAPkHAF/dYCIsCiNxK
    RK5q6+UF5YEJ9eKYshH5BI6DJ+xmgird397g/c+gMcD/5xeLcwx7ksEcgrlsXRq6/1HiTZxe0Eei
    ZlXzI5uNO8T8ntar03SzDW62pIWvkhh9Bgcbsa0w2SsRxSO4P85g5au0rQlYtcLuplXzcEuKN45K
    j5YTZWYQHX0jOIzJBP9VhTt0YylH82ntTRdfv/wPh7sSn4Ki3moQEM//y7kGBxbThGZVkszo7vp2
    f5TZlhT3nFJOlLfoSkyBl5Ez2ze6dudinCX34a65Z2MwuS+zcsb9j9aPl8xOue1e8Jzqnbezq4tG
    Y4WadTE+UTe9kGJDKxlXP1voAt11NPgjYmR6g5tw1gzx+FZnNa9zmdSOElvuKwI2LIqtuteNK8mh
    hdc1Q98D20dOp/lP3EyO6sg3hZnbO8P7NdwzLUL0IO/MPv6L/u4LfeJ+94UONkx+ks6LL9JHsXKX
    /DHsmulcoBAPWTScFVl2k5BrooooJ8ZVvhQfEdgQTRyHszW4ThzeDGene3g4HtSbsaxWt8zp3rHA
    9z015QWpYO3ImLSVenoAZec1S28wftjUduTTaer19XKMzg3XBuUVr+QBYUAQsVhQEkNX0q18SEmA
    D5HMkS4Acd68+evr83dns9nri+nZ4uLN5bvp1fmr88vFxdnr+TusMepSlbwjuFQod+ryr+Ec2OIR
    ive9IIzoN6Pm6roS/lcD7TEllAP7MUxpb8+/azPaEFb72NGj02qbZGFUjGAbk0ichRKSxAyJTNRM
    PhtLe/7C4OmesxVN1t91Vrl144oXnRNvzMqUNPMXrTLEuYAecqWHDHF2PciVjgm2yhXYTEOsuJVO
    +Rhi5Ww6PZ/P3/14/n9Pgvk5SJTFu/rVIFA+b4Hi/SkFjjn3FB1oydOYZRF9qk469h1PlkAHSi2c
    pWpaBhWXRgi+xNNEZH+gCYdWUL/l7AlPCmvPfaw2Szzqco2vcTvIF4OepvoITcgjBrzGVASsCEaq
    4sIWOEtW3uM5GfYeR47L4APLM+Jhhh1nyrrnvkNDMOSLr52LxcncNBwFjQw7z3JHdiaO+lBhZLDc
    aV7W2iC11rvnjWeGSDnlNdnHeKaoKtlYTWOsBjxt8gsvwmFVtHjFzjgr68S40dxq77p7yGzlikKi
    zMcDv1VaO35HiLDoqewHnTIsbmvQsDF8qkGgfi+WOBbs2gMbBxmUScF9Pl0VIRev56oh1RihW/TE
    XGSGHTQyzpD5a+MhLHofuSqzRF4XcFAimfb9Xt7wvZxSXJElfbN9lj9rDck35HC2kd6r+4Pj9L/c
    dQ10D7Hygz/2Kvss0OlEFJ8jWeir6ufdf6RFuatS2vWGP7YG5cfewVW7Koc7uLRnuIOrc7LDHVy/
    zTu4ftHVsOEOLnNRPdT7RVaCTEqVkp9m6bjEqy1TKh5LeloZgmlaCrUXBFIEHWe7jSt3Q1oEq2xL
    lx2gJ0MdFai/cy/kEL2+83DV/weEcFP39WsBAA==
kind: ConfigMap
metadata:
  name: ${name}-dash-crds-manifests-7tb76md79b
---
apiVersion: v1
data:
  manifest_globals.yaml: |
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
      labels:
        dashboard.presslabs.com/version: 0.0.1
        rbac.dashboard.presslabs.com/aggregate-to-controller: "true"
      name: dashboard.presslabs.com:organization::invites
    rules:
    - apiGroups:
      - dashboard.presslabs.com
      resources:
      - invites
      verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
    ---
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
      labels:
        dashboard.presslabs.com/version: 0.0.1
      name: dashboard.presslabs.com:organization::member
    rules:
    - apiGroups:
      - ""
      resources:
      - namespaces
      verbs:
      - get
      - list
      - watch
    - apiGroups:
      - ""
      resources:
      - secrets
      verbs:
      - create
    - apiGroups:
      - dashboard.presslabs.com
      resources:
      - projects
      verbs:
      - get
      - list
      - watch
    - apiGroups:
      - dashboard.presslabs.com
      resources:
      - invites
      verbs:
      - get
      - list
      - watch
    - apiGroups:
      - dashboard.presslabs.com
      resources:
      - accountbindings
      verbs:
      - get
      - list
      - watch
    ---
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
      labels:
        dashboard.presslabs.com/version: 0.0.1
      name: dashboard.presslabs.com:organization::owner
    rules:
    - apiGroups:
      - ""
      resources:
      - namespaces
      verbs:
      - get
      - list
      - watch
      - delete
      - update
      - patch
    - apiGroups:
      - dashboard.presslabs.com
      resources:
      - projects
      verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
    - apiGroups:
      - dashboard.presslabs.com
      resources:
      - invites
      verbs:
      - get
      - list
      - watch
      - create
      - delete
    - apiGroups:
      - dashboard.presslabs.com
      resources:
      - accountbindings
      verbs:
      - get
      - list
      - watch
      - create
      - delete
    ---
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
      labels:
        dashboard.presslabs.com/version: 0.0.1
      name: dashboard.presslabs.com:project::member
    rules:
    - apiGroups:
      - ""
      resources:
      - namespaces
      - events
      verbs:
      - get
      - list
      - watch
    - apiGroups:
      - ""
      resources:
      - secrets
      verbs:
      - create
    - apiGroups:
      - wordpress.presslabs.org
      resources:
      - wordpresses
      verbs:
      - get
      - list
      - watch
    ---
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
      labels:
        dashboard.presslabs.com/version: 0.0.1
      name: dashboard.presslabs.com:project::owner
    rules:
    - apiGroups:
      - ""
      resources:
      - secrets
      verbs:
      - create
    - apiGroups:
      - ""
      resources:
      - namespaces
      - events
      verbs:
      - get
      - list
      - watch
    - apiGroups:
      - ""
      resources:
      - secrets
      verbs:
      - create
    - apiGroups:
      - wordpress.presslabs.org
      resources:
      - wordpresses
      verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
    ---
    apiVersion: rbac.authorization.k8s.io/v1
    kind: ClusterRole
    metadata:
      labels:
        dashboard.presslabs.com/version: 0.0.1
        rbac.dashboard.presslabs.com/aggregate-to-controller: "true"
      name: dashboard.presslabs.com:project::prometheus
    rules:
    - apiGroups:
      - ""
      resources:
      - nodes
      - services
      - endpoints
      - pods
      verbs:
      - get
      - list
      - watch
    - apiGroups:
      - ""
      resources:
      - configmaps
      verbs:
      - get
    - nonResourceURLs:
      - /metrics
      verbs:
      - get
    ---
    apiVersion: apiregistration.k8s.io/v1beta1
    kind: APIService
    metadata:
      annotations:
        certmanager.k8s.io/inject-ca-from: ${namespace}/${name}-cert-manager-webhook-webhook-tls
      labels:
        app: webhook
        app.kubernetes.io/instance: ${name}
        app.kubernetes.io/managed-by: Tiller
        app.kubernetes.io/name: webhook
        dashboard.presslabs.com/version: 0.0.1
        helm.sh/chart: webhook-v0.9.1
      name: v1beta1.admission.certmanager.k8s.io
    spec:
      group: admission.certmanager.k8s.io
      groupPriorityMinimum: 1000
      service:
        name: ${name}-cert-manager-webhook
        namespace: ${namespace}
      version: v1beta1
      versionPriority: 15
    ---
    apiVersion: certmanager.k8s.io/v1alpha1
    kind: Certificate
    metadata:
      labels:
        app: webhook
        app.kubernetes.io/instance: ${name}
        app.kubernetes.io/managed-by: Tiller
        app.kubernetes.io/name: webhook
        dashboard.presslabs.com/version: 0.0.1
        helm.sh/chart: webhook-v0.9.1
      name: ${name}-cert-manager-webhook-ca
      namespace: ${namespace}
    spec:
      commonName: ca.webhook.cert-manager
      duration: 43800h
      isCA: true
      issuerRef:
        name: ${name}-cert-manager-webhook-selfsign
      secretName: ${name}-cert-manager-webhook-ca
    ---
    apiVersion: certmanager.k8s.io/v1alpha1
    kind: Certificate
    metadata:
      labels:
        app: webhook
        app.kubernetes.io/instance: ${name}
        app.kubernetes.io/managed-by: Tiller
        app.kubernetes.io/name: webhook
        dashboard.presslabs.com/version: 0.0.1
        helm.sh/chart: webhook-v0.9.1
      name: ${name}-cert-manager-webhook-webhook-tls
      namespace: ${namespace}
    spec:
      dnsNames:
      - ${name}-cert-manager-webhook
      - ${name}-cert-manager-webhook.${namespace}
      - ${name}-cert-manager-webhook.${namespace}.svc
      duration: 8760h
      issuerRef:
        name: ${name}-cert-manager-webhook-ca
      secretName: ${name}-cert-manager-webhook-webhook-tls
    ---
    apiVersion: certmanager.k8s.io/v1alpha1
    kind: Certificate
    metadata:
      labels:
        app: dashboard
        chart: dashboard-0.1.0_master
        dashboard.presslabs.com/version: 0.0.1
        heritage: Tiller
        release: ${name}
      name: ${name}-dashboard-webhook
      namespace: ${namespace}
    spec:
      dnsNames:
      - ${name}-dashboard-webhook
      - ${name}-dashboard-webhook.${namespace}
      - ${name}-dashboard-webhook.${namespace}.svc
      duration: 8760h
      issuerRef:
        name: ${name}-dashboard-webhook-ca
      secretName: ${name}-dashboard-webhook
    ---
    apiVersion: certmanager.k8s.io/v1alpha1
    kind: Certificate
    metadata:
      labels:
        app: dashboard
        chart: dashboard-0.1.0_master
        dashboard.presslabs.com/version: 0.0.1
        heritage: Tiller
        release: ${name}
      name: ${name}-dashboard-webhook-ca
      namespace: ${namespace}
    spec:
      commonName: ca.dashboard.presslabs.org
      duration: 43800h
      isCA: true
      issuerRef:
        name: ${name}-dashboard-webhook-ca-issuer
      secretName: ${name}-dashboard-webhook-ca
    ---
    apiVersion: certmanager.k8s.io/v1alpha1
    kind: Certificate
    metadata:
      labels:
        app: stack
        chart: stack-v0.5.1
        dashboard.presslabs.com/version: 0.0.1
        heritage: Tiller
        release: ${name}
      name: ${name}-ingress-default
    spec:
      commonName: ingress.local
      issuerRef:
        kind: ClusterIssuer
        name: ${name}-default
      secretName: ${name}-ingress-default
    ---
    apiVersion: certmanager.k8s.io/v1alpha1
    kind: ClusterIssuer
    metadata:
      labels:
        app: stack
        chart: stack-v0.5.1
        dashboard.presslabs.com/version: 0.0.1
        heritage: Tiller
        release: ${name}
      name: ${name}-default
    spec:
      acme:
        email: $letsEncryptEmail
        http01: {}
        privateKeySecretRef:
          name: ${name}-letsencrypt
        server: $letsEncryptServer
    ---
    apiVersion: certmanager.k8s.io/v1alpha1
    kind: Issuer
    metadata:
      labels:
        app: webhook
        app.kubernetes.io/instance: ${name}
        app.kubernetes.io/managed-by: Tiller
        app.kubernetes.io/name: webhook
        dashboard.presslabs.com/version: 0.0.1
        helm.sh/chart: webhook-v0.9.1
      name: ${name}-cert-manager-webhook-ca
      namespace: ${namespace}
    spec:
      ca:
        secretName: ${name}-cert-manager-webhook-ca
    ---
    apiVersion: certmanager.k8s.io/v1alpha1
    kind: Issuer
    metadata:
      labels:
        app: webhook
        app.kubernetes.io/instance: ${name}
        app.kubernetes.io/managed-by: Tiller
        app.kubernetes.io/name: webhook
        dashboard.presslabs.com/version: 0.0.1
        helm.sh/chart: webhook-v0.9.1
      name: ${name}-cert-manager-webhook-selfsign
      namespace: ${namespace}
    spec:
      selfSigned: {}
    ---
    apiVersion: certmanager.k8s.io/v1alpha1
    kind: Issuer
    metadata:
      labels:
        app: dashboard
        chart: dashboard-0.1.0_master
        dashboard.presslabs.com/version: 0.0.1
        heritage: Tiller
        release: ${name}
      name: ${name}-dashboard-webhook-ca
      namespace: ${namespace}
    spec:
      ca:
        secretName: ${name}-dashboard-webhook-ca
    ---
    apiVersion: certmanager.k8s.io/v1alpha1
    kind: Issuer
    metadata:
      labels:
        app: dashboard
        chart: dashboard-0.1.0_master
        dashboard.presslabs.com/version: 0.0.1
        heritage: Tiller
        release: ${name}
      name: ${name}-dashboard-webhook-ca-issuer
      namespace: ${namespace}
    spec:
      selfSigned: {}
    ---
    apiVersion: admissionregistration.k8s.io/v1beta1
    kind: ValidatingWebhookConfiguration
    metadata:
      annotations:
        certmanager.k8s.io/inject-apiserver-ca: "true"
      labels:
        app: webhook
        app.kubernetes.io/instance: ${name}
        app.kubernetes.io/managed-by: Tiller
        app.kubernetes.io/name: webhook
        dashboard.presslabs.com/version: 0.0.1
        helm.sh/chart: webhook-v0.9.1
      name: ${name}-cert-manager-webhook
    webhooks:
    - clientConfig:
        service:
          name: kubernetes
          namespace: default
          path: /apis/admission.certmanager.k8s.io/v1beta1/certificates
      failurePolicy: Fail
      name: certificates.admission.certmanager.k8s.io
      namespaceSelector:
        matchExpressions:
        - key: certmanager.k8s.io/disable-validation
          operator: NotIn
          values:
          - "true"
        - key: name
          operator: NotIn
          values:
          - ${namespace}
      rules:
      - apiGroups:
        - certmanager.k8s.io
        apiVersions:
        - v1alpha1
        operations:
        - CREATE
        - UPDATE
        resources:
        - certificates
    - clientConfig:
        service:
          name: kubernetes
          namespace: default
          path: /apis/admission.certmanager.k8s.io/v1beta1/issuers
      failurePolicy: Fail
      name: issuers.admission.certmanager.k8s.io
      namespaceSelector:
        matchExpressions:
        - key: certmanager.k8s.io/disable-validation
          operator: NotIn
          values:
          - "true"
        - key: name
          operator: NotIn
          values:
          - ${namespace}
      rules:
      - apiGroups:
        - certmanager.k8s.io
        apiVersions:
        - v1alpha1
        operations:
        - CREATE
        - UPDATE
        resources:
        - issuers
    - clientConfig:
        service:
          name: kubernetes
          namespace: default
          path: /apis/admission.certmanager.k8s.io/v1beta1/clusterissuers
      failurePolicy: Fail
      name: clusterissuers.admission.certmanager.k8s.io
      namespaceSelector:
        matchExpressions:
        - key: certmanager.k8s.io/disable-validation
          operator: NotIn
          values:
          - "true"
        - key: name
          operator: NotIn
          values:
          - ${namespace}
      rules:
      - apiGroups:
        - certmanager.k8s.io
        apiVersions:
        - v1alpha1
        operations:
        - CREATE
        - UPDATE
        resources:
        - clusterissuers
    ---
    apiVersion: admissionregistration.k8s.io/v1beta1
    kind: ValidatingWebhookConfiguration
    metadata:
      annotations:
        certmanager.k8s.io/inject-ca-from: ${namespace}/${name}-dashboard-webhook-ca
      labels:
        app: dashboard
        chart: dashboard-0.1.0_master
        dashboard.presslabs.com/version: 0.0.1
        heritage: Tiller
        release: ${name}
      name: ${name}-dashboard
    webhooks:
    - clientConfig:
        service:
          name: ${name}-dashboard-webhook
          namespace: ${namespace}
          path: /validating-create-organization
      failurePolicy: Fail
      name: validating-create-organization.presslabs.com
      namespaceSelector:
        matchExpressions:
        - key: control-plane
          operator: DoesNotExist
      rules:
      - apiGroups:
        - ""
        apiVersions:
        - v1
        operations:
        - CREATE
        - UPDATE
        resources:
        - namespaces
    - clientConfig:
        service:
          name: ${name}-dashboard-webhook
          namespace: ${namespace}
          path: /validating-create-project
      failurePolicy: Fail
      name: validating-create-project.presslabs.com
      namespaceSelector:
        matchExpressions:
        - key: control-plane
          operator: DoesNotExist
      rules:
      - apiGroups:
        - ""
        apiVersions:
        - v1
        operations:
        - CREATE
        - UPDATE
        resources:
        - namespaces
    - clientConfig:
        service:
          name: ${name}-dashboard-webhook
          namespace: ${namespace}
          path: /validating-create-site
      failurePolicy: Fail
      name: validating-create-site.presslabs.com
      namespaceSelector:
        matchExpressions:
        - key: control-plane
          operator: DoesNotExist
      rules:
      - apiGroups:
        - wordpress.presslabs.org
        apiVersions:
        - v1alpha1
        operations:
        - CREATE
        - UPDATE
        resources:
        - wordpresses
kind: ConfigMap
metadata:
  name: ${name}-dash-globals-manifests-t9k27fcbdd
---
apiVersion: batch/v1
kind: Job
metadata:
  name: ${name}-dash-install-manifest
spec:
  backoffLimit: 3
  template:
    spec:
      containers:
      - args:
        - |
          # first install CRDs
          cat /data/crds/manifest_crds.yaml.gz.b64enc | base64 -d | gzip -dc | kubectl apply -f- ;
          # don't validate due to: https://github.com/jetstack/cert-manager/issues/1143
          kubectl apply --validate=false -f /data/globals/manifest_globals.yaml ;
        command:
        - /bin/sh
        - -c
        image: $kubectlImage
        name: init
        volumeMounts:
        - mountPath: /data/globals/
          name: globals-manifests
        - mountPath: /data/crds/
          name: crd-manifests
      restartPolicy: Never
      serviceAccountName: $serviceAccount
      volumes:
      - configMap:
          name: ${name}-dash-globals-manifests-t9k27fcbdd
        name: globals-manifests
      - configMap:
          name: ${name}-dash-crds-manifests-7tb76md79b
        name: crd-manifests
